venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.env
.ipynb_checkpoints
.idea   
*.ckpt
*.h5
*.model
*.pth
*.bin

# Trained model outputs
financial-qlora-model*
*.safetensors